@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import "./variables.scss";

:global {
  html {
    box-sizing: border-box;
    height: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    color: #fff;
    background-color: $secondary-color;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }

  html,
  body,
  #root {
    height: 100%;
    min-height: 100%;
  }

  input {
    color: $dark;
    background: #fff;
    border: 2px solid;
    border-color: transparent;
    transition: 200ms border-color;
    padding: $spacing;
    min-width: 400px;

    &:focus {
      border-color: $blue;
    }
  }
}
